* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(233, 47%, 7%);
}

main {
  display: flex;
  gap: 10%;
  align-items: center;
  width: 80%;
  margin: 5rem auto;
  background-color: hsl(244, 38%, 16%);
}

.textArea {
  width: 50%;
  padding: 0 5rem;
}

.textArea h2 {
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
}

.textArea p {
  font-size: 1rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 200;
}

span {
  color: hsl(277, 64%, 61%);
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 100%);
  font-size: 0.9rem;
  font-size: 1.3rem;
}

small {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.6rem;
}

.imageArea {
  width: 50%;
  background-color: hsl(277, 64%, 61%);
  border: none;
}

.imageArea img {
  width: 100%;
  opacity: 0.5;
}
